.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.task-input {
    margin-top: 5%;
}

.task-container {
    border: 2px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    max-width: 100%; /* Ограничиваем максимальную ширину блока */
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Скрываем текст, который выходит за границы блока */
    text-overflow: ellipsis;
}

p {
    margin: 0;
}

.btn {
    margin-right: 2%;
    width: 150px;
}